@model Web.Models.ProfileViewModel

@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <div class="image-perfil">
        <figure>
            <img src="https://journalmetrocom.files.wordpress.com/2017/04/default_profile_400x400.png?w=400&amp;h=400" alt="Imagem relacionada" />
        </figure>
        <figcaption>NOME SOBRENOME</figcaption>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Meus Dados</h2>
        <div class="dados">
            <div class="panel panel-default dados-pessoais">
                <div class="panel-heading">Dados Pessoais</div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">Nome: Nome Sobrenome </li>
                        <li class="list-group-item">Idade: 21</li>
                        <li class="list-group-item">Cidade: Rio de Janeiro</li>
                        <li class="list-group-item">Email: email@email.com</li>
                        <li class="list-group-item">Senha: **************</li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Dados do jogo</div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">Jogador: Nome Player </li>
                        <li class="list-group-item">Level: 35</li>
                        <li class="list-group-item">Elo atual: Platina IV</li>
                        <li class="list-group-item">Maestria: 5</li>
                        <li class="list-group-item">Server: Brasil</li>
                        <li class="list-group-item">Rota principal: Meio</li>
                        <li class="list-group-item">Campeão principal: Oriana</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

